<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create Department</title>
</head>
<body>
    <h1>Create Department</h1>
    
    <form action="/department/create" method="post">
    		<tr>
                <td><label for="departmentId">Department ID:</label></td>
                <td><input type="text" id="departmentId" name="departmentId" required></td>
            </tr>
            <tr>
                <td><label for="departmentName">Department Name:</label></td>
                <td><input type="text" id="departmentName" name="departmentName" required></td>
            </tr>
        </table>
        <br>
        <button type="submit">Create Department</button>
    </form>
</body>
</html>
