<!DOCTYPE html>
<html>
<head>
<title>Home</title>
</head>
<body>
	<div>
		<h2>Employee Services</h2>
		<a href="employee/create"> <button type="button">Create Employee</button></a>
		<a href="employee/read"> <button type="button">Get Employee</button></a>
		<a href="employee/update"> <button type="button">Update Employee</button></a>
		<a href="employee/delete"> <button type="button">Delete Employee</button></a>
	</div>
	<div>
		<h2>Department Services</h2>
		<a href="department/create"> <button type="button">Create Department</button></a>
		<a href="department/read"> <button type="button">Get Department</button></a>
		<a href="department/update"> <button type="button">Update Department</button></a>
		<a href="department/delete"> <button type="button">Delete Department</button></a>
	</div>
</body>
</html>